<!DOCTYPE html>
<html>
<head>
    <script>
        var csrf_token = "{{ csrf_token }}";
    </script>
    <script src="{{ STATIC_URL }}url_access_check/js/jquery-1.4.3.min.js"></script>
    <script src="{{ STATIC_URL }}url_access_check/js/manual_check.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}url_access_check/css/url_access_check.css" />
</head>
<body>
    {% for url in urls_browser %}
        <iframe src="{{ url.address }}" class="hidden_iframe" data_reachable="false" id="url_{{ url.id }}"></iframe>
    {% endfor %}

    <ul id="tests">
        <li class="server">Server</li>
    {% for addr in tested_addresses %}
        <li><div class="disc {{ addr.reachable }}">&nbsp;</div>{{ addr.address }}</li>
    {% endfor %}
        <li class="browser">Client</li>
    </ul>
</body>
</html>
